ul.list-inline
  li: button#btn1.btn.btn-primary: span 1
  li: button#btn2.btn.btn-primary: span 2
  li: button#btn3.btn.btn-primary: span 3
  li: button#btn4.btn.btn-primary: span 4
  li: button#btn5.btn.btn-primary: span 5
